* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: sticky;
  top: 0;
  background-color: black;
  height: 70px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 10px;
  align-items: center;
}
nav .menu-btn i {
  display: none;
  font-size: 22px;
  cursor: pointer;
}
nav .logo {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin: 0px 10px;
  color: white;
  font-size: 20px;
  padding: 7px 10px;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active {
  background-color: white;
  color: crimson;
}
nav input {
  display: none;
}
@media (max-width: 900px) {
  nav {
    height: 80px;
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;

    transition: all 0.3s ease-in;
  }
  #click:checked ~ ul {
    transition: all 0.4s ease-in;
    left: 0;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f068";
  }

  nav .menu-btn i {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
  nav ul li {
    margin: 50px 0;
  }
  nav ul li a {
    color: white;
    font-size: 23px;
    padding: 7px 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: cyan;
  }
}
